<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Oferte autovehicule</title>
</head>
<body>

    <div th:if="${automotiveRides!=null && automotiveRides.isEmpty()}">
        <span> Nu exista oferte de calatorii pentru acest autovehicul !</span>
    </div>

    <div th:if="${automotiveRides!=null && !automotiveRides.isEmpty()}">

        <table>
            <td>Descriere</td>
            <td>Durata</td>
            <td>Venit</td>
            <td>Plecare la ora: </td>

            <th:block th:each="automotiveRide : ${automotiveRides}">
                <tr>
                    <td th:text="${automotiveRide.description}">...</td>
                    <td th:text="${automotiveRide.duration}">...</td>
                    <td th:text="${automotiveRide.amountOfValueUserIsPayed}"> RON</td>
                    <td th:text="${automotiveRide.rideStartAt}">...</td>
                    <div th:if="${userIsRegistredAsDriver != null && userIsRegistredAsDriver}">
                        <td>
                            <a th:href="@{takeRide/__${automotiveRide.id}__}" class="btn btn-danger">Ia cursa</a>
                        </td>
                    </div>
                </tr>
            </th:block>

        </table>
    </div>


</body>
</html>