<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Addresses</title>
    <link rel="stylesheet" type="text/css" href="../../css/main.css" th:href="@{/css/main.css}">
</head>
<body>

<form action="#" th:action="@{/userAddresses}" method="post">

    <div th:if="changedAddresses">
        <div class="form-group">
            <label for="county">Judet</label>:
            <input type="text"
                   id="county"
                   name="county"
                   class="form-control"
                   autofocus="autofocus"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="street">Strada</label>:
            <input type="text"
                   id="street"
                   name="street"
                   class="form-control"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="streetNumber">Numarul</label>:
            <input type="text"
                   id="streetNumber"
                   name="streetNumber"
                   class="form-control"
                   placeholder="">
        </div>
        <div class="form-group">
            <label for="zipCode">Cod postal</label>:
            <input type="text"
                   id="zipCode"
                   name="zipCode"
                   class="form-control"
                   placeholder="">
        </div>
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <input type="submit"
                       name="login-submit"
                       id="login-submit"
                       class="form-control btn btn-info"
                       value="Trimite">
            </div>
        </div>
    </div>
</form>

<button onclick="window.location.href='/profile'">Profilul dumneavoastra</button>


    <div>
        <table id="table">

            <h4> Adrese adaugate</h4>
            <div th:if="${addressesList ==null || addressesList.isEmpty()}">
                <span> Nu aveti nicio adresa adaugata !</span>
            </div>

            <div th:if="${allUserRides != null}">
                <td>Judetul</td>
                <td>Strada </td>
                <td>Numarul</td>
                <td>Cod postal</td>
            </div>
            <th:block th:each="address : ${addressesList}">
                <tr>
                    <td th:text="${address.county}"></td>
                    <td th:text="${address.street}"></td>
                    <td th:text="${address.streetNumber}"></td>
                    <td th:text="${address.zipCode}"></td>
                </tr>
            </th:block>

        </table>
    </div>

    </div>
    <div th:if="${loggedUser.hasChangedAddressInfos != null && !loggedUser.hasChangedAddressInfos}">

        <div th:if="${errorList != null}">
            <div th:each="er : ${errorList}">
                <span th:text="${er.error}"/>
            </div>
        </div>

    </div>

</body>
</html>